<% include header %>
<form class="post-form" method="post">
  标题：<br/>
  <input type="text" name="title" value=""/><br/>
  标签：<br/>
  <input type="text" name="tag1"/>
  <input type="text" name="tag2"/>
  <input type="text" name="tag3"/>
  <br/>
  正文：<br/>
  <textarea name="post" id="editor_id" rows="20" cols="100"></textarea><br/>
  <input type="submit" value="发表">
</form>
<script charset="utf-8" src="/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="/kindeditor/lang/zh_CN.js"></script>
<script>
var editor;
KindEditor.ready(function(K) {
        editor = K.create('#editor_id', {
          resizeType : 1,
          allowPreviewEmoticons : false,
          allowImageUpload : true,
          items : [
            'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
            'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
            'insertunorderedlist', '|', 'emoticons', 'image', 'link']
        });
});
</script>
<% include footer %>
