<%-  include header %>
<form action="/upload" method="post" enctype="multipart/form-data">
  <input type="file" name="file1" value=""/><br/>
  <input type="file" name="file2" value=""/><br/>
  <input type="file" name="file3" value=""/><br/>
  <input type="file" name="file4" value=""/><br/>
  <input type="file" name="file5" value=""/><br/>
  <input type="submit" value="上传"/>
</form>
<%- include footer %>
